<!DOCTYPE>
<html>
<head>
    <meta charset="UTF-8">
    <title>数据中心工具包</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery-2.1.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/excellentexport.js"></script>
    <script src="/static/js/highcharts.js"></script>

{% block head-js %}
  {% endblock %}


{% block module-js %}
  {% endblock %}

<script>

var ping_ip 


function ping_check()
{
    var packet_number=document.getElementById("ping_packet_number").value;
    var packet_size=document.getElementById("ping_packet_size").value;
    var ping_ip = document.getElementById("ping_ip_pool").value;
    if (!packet_number || !packet_size || !ping_ip)
    {
        alert("别闹！请输入必要的信息！！！")
        return false;
    }
  
    return true;
}


function onec_check()
{
    var packet_number=document.getElementById("one_name").value;
    var packet_size=document.getElementById("one_pwd").value;
    var ping_ip = document.getElementById("one_ip_pool").value;
    var snmp = document.getElementById("one_snmp").value;
    if (!packet_number || !packet_size || !ping_ip)
    {
        alert("别闹！请输入必要的信息！！！")
        return false;
    }


  
    return true;
}



function guangshuai_check()
{
    var nameValue=document.getElementById("guangshuai_uname").value;
    var pwdValue=document.getElementById("guangshuai_pwd").value;
    var ipValue =document.getElementById("guangshuai_ip_pool").value;
    if (!nameValue || !pwdValue || !ipValue)
    {
        alert("别闹！请输入必要的信息！！！")
        return false;
    }
    return true;
}


function module_number_check()
{
    var nameValue=document.getElementById("module_number_uname").value;
    var pwdValue=document.getElementById("module_number_pwd").value;
    var ipValue=document.getElementById("module_number_ip_pool").value;
    if (!nameValue || !pwdValue || !ipValue)
    {
        alert("别闹！请输入必要的信息！！！")
        return false;
     }
  return true;
}

function port_channel_check()
{
    var nameValue=document.getElementById("port_channel_uname").value;
    var pwdValue=document.getElementById("port_channel_pwd").value;
    var ipValue=document.getElementById("port_channel_ip_pool").value;
    if (!nameValue || !pwdValue || !ipValue)
    {
        alert("别闹！请输入必要的信息！！！")
        return false;
     }
  return true;
}



</script>
</head>
<body>  

  <div class="container-fluid">
    <div class="container-fluid">
    <div class="page-header">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
            <div class="navbar-header">
               <a class="navbar-brand" href="#">数据中心工具包</a>
             </div>   
           </div>
        </nav>
    </div>
    </div>
    
    
    <div class="container-fluid"> 
    <div class="col-lg-2">

  <div class="list-group">
  <a data-toggle="modal" href="#once_check" class="list-group-item">验收工具</a>
  <a data-toggle="modal" href="#ping_tool" class="list-group-item">PING</a>
  <a href="#" class="list-group-item">MAC地址互转</a>
  <a href="#" class="list-group-item">子网计算</a>
  <a href="#" class="list-group-item">子网合并</a>
</div>
  <div class="list-group">
  <a href="#" class="list-group-item">to be continued</a>
  <a href="#" class="list-group-item">to be continued</a>
 
  <a href="#" class="list-group-item">to be continued</a>
  <a href="#" class="list-group-item">to be continued</a>
  <a href="#" class="list-group-item">to be continued</a>
</div>
    </div>

    <div class="col-lg-10">
    <div class="row">
    </div>
    



    <div class="row">

      <div class="page-header">
      </div>
    </div>
    

      {% if index %}
<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Warning!</strong> 目前本系统还只适用于批量的接入交换机，核心交换机的一些逻辑系统还没有具体实现，所以在使用时，请务对接入使用，否则会造成返回结果崩溃
</div>
<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Warning!</strong> 目前只针对H3C和JUNIPER两家厂商的设备
</div>
<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Warning!</strong> 如果是在虚拟机环境中使用PING工具，且想发大于400字节的包的话，请将网络类型设置成侨接模式，否则，由于虚拟机限制，将发不出大包,PING发包的间隔已设置成200ms,因为经过广域网的测试可能结果相差较大，建议该工具只在局域网环境中使用.
</div>

<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Warning!</strong> 连接方式预留了SSH的接口，但是没有实现，无论选择与否都是使用TELNET
</div>
<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Warning!</strong> 一些不能选择的选项将在后面一段时间内慢慢添加
</div>




        {% endif %}






    <div class="row">
      {% block page-container %}
      <table class="table table-bordered">
      {% endblock %}
      </table>
    </div>
    </div>
</div>



<!-- Modal guangshuai -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</s
pan></button>
    <h4 class="modal-title" id="myModalLabel"> 请输入信息</h4>
        </div>
      <div class="modal-body">



        <form action="/guangshuai_result/" method="post" role="form"  onsubmit="return guangshuai_check()">
<div class="form-group">
    <h5>选择登陆方式</h>
    <div class="btn-group" data-toggle="buttons">
     <label class="btn btn-default ">
     <input type="radio" name="radiobutton" value ="telnet"  autocomplete="off" > Telnet
    </label>
    <label class="btn btn-default">
     <input type="radio" name="radiobutton" value="ssh"  autocomplete="off"> SSH
     </label>
      </div>
      </div>


        <div class="form-group">
        <input type="text" name="username" id="guangshuai_uname" class="form-control" placeholder="请输入交换机用户名" autocomplete="off">
        </div>
        <div class="form-group">
        <input type="password" class="form-control "name="password" id="guangshuai_pwd"placeholder="请输入交换机密码" autocomplete="off">
        </div>
        <div class="form-group">
        <textarea class="form-control" rows="10" name="ips" id="guangshuai_ip_pool"autocomplete="off" placeholder="格式：每行输入一个ip" autocomplete="off"></textarea>
        </div>

      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">提交</button>
      </div>
</form>
  </div>
    </div>
  </div>    





<div class="modal fade" id="moduleNumber" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</s
pan></button>
                <h4 class="modal-title" id="myModalLabel"> 请输入信息</h4>
              </div>
      <div class="modal-body">
        <form action="/module_number/" method="post" role="form" onsubmit="return module_number_check()">

        <div class="form-group">


    <h5>选择登陆方式</h>
    <div class="btn-group" data-toggle="buttons">
     <label class="btn btn-default ">
     <input type="radio" name="radiobutton" value ="telnet"  autocomplete="off" > Telnet
    </label>
    <label class="btn btn-default">
     <input type="radio" name="radiobutton" value="ssh"  autocomplete="off"> SSH
     </label>
      </div>
      </div>
        <div class="form-group">
        <input type="text" name="username" id="module_number_uname" class="form-control" placeholder="请输入交换机用户名" autocomplete="off">
        </div>
        <div class="form-group">
        <input type="password" class="form-control "name="password" id="module_number_pwd"placeholder="请输入交换机密码" autocomplete="off">
        </div>
  
   
        <div class="form-group">
        <textarea class="form-control" rows="10" name="ips" id="module_number_ip_pool"autocomplete="off" placeholder="格式：每行输入一个ip" autocomp
lete="off"></textarea>
        </div>

      </div>
  <div class="modal-footer">
        <button type="submit" class="btn btn-primary pull-right">提交</button>
  </div>
</form>
  </div>
    </div>
  </div>





<div class="modal fade" id="portChannel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</s
pan></button>
                <h4 class="modal-title" id="myModalLabel"> 请输入信息</h4>
              </div>
      <div class="modal-body">
        <form action="/port_channel/" method="post" role="form" onsubmit="return port_channel_check()">
        <div class="form-group">

          <div class="form-group">


    <h5>选择登陆方式     </h>
    <div class="btn-group" data-toggle="buttons">
     <label class="btn btn-default">
     <input type="radio" name="radiobutton" value ="telnet"  autocomplete="off" > Telnet
    </label>
    <label class="btn btn-default">
     <input type="radio" name="radiobutton" value="ssh"  autocomplete="off"> SSH
     </label>
      </div>
      </div>
        <input type="text" name="username" id="port_channel_uname" class="form-control" placeholder="请输入交换机用户名" autocomplete="off">
        </div>
        <div class="form-group">
        <input type="password" class="form-control "name="password" id="port_channel_pwd"placeholder="请输入交换机密码" autocomplete="off">
        </div>

  
   
        <div class="form-group">
        <textarea class="form-control" rows="10" name="ips" id="port_channel_ip_pool"autocomplete="off" placeholder="格式：每行输入一个ip" autocomp
lete="off"></textarea>
        </div>

      </div>
  <div class="modal-footer">
        <button type="submit" class="btn btn-primary pull-right">提交</button>
  </div>
</form>
  </div>
    </div>
  </div>




<div class="modal fade" id="ping_tool" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</s
pan></button>
                <h4 class="modal-title" id="myModalLabel"> 请输入信息</h4>
              </div>
      <div class="modal-body">

      <form class="form-horizontal" action="/ping_monitor/" method="post" role="form" onsubmit="return ">

        <div class="form-group">
        <div class="col-sm-6">
        <input type="text" name="packet_size" id="ping_packet_size" class="form-control" placeholder="输入每个包的大小：20-1500" autocomplete="off">
       
         </div>
        
          <div class="col-sm-6">
         <input type="text" class="form-control " name="packet_number" id="ping_packet_number" placeholder="请输入对每个IP各ping多少包" autocomplete="off">
       
        </div>
  
  </div>
        <div class="form-group">
         <div class="col-sm-12">
        <textarea class="form-control" rows="14" name="ips" id="ping_ip_pool" autocomplete="off" placeholder="格式：每行输入一个ip" autocomp
lete="off"></textarea>
</div>
        </div>


      </div>
  <div class="modal-footer">
        <button type="submit" class="btn btn-primary pull-right">提交</button>
  </div>
</form>
  </div>
    </div>
  </div>




















<div class="modal fade" id="once_check" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</s
pan></button>
                <h4 class="modal-title" id="myModalLabel"> 请输入信息</h4>
              </div>
      <div class="modal-body">
        <form action="/once_check/" method="post" role="form" onsubmit="return onec_check()">

        <div class="form-group">


    <h5>选择登陆方式</h>
    <div class="btn-group" data-toggle="buttons">
     <label class="btn btn-default ">
     <input type="radio" name="radiobutton" value ="telnet"  autocomplete="off" active> Telnet
    </label>
    <label class="btn btn-default">
     <input type="radio" name="radiobutton" value="ssh"  autocomplete="off" disabled> SSH
     </label>
      </div>
      </div>
      <div class="form-group">
      <h5>请选择要检测的项目</h>
  <div class="container-fluid">
 <div class="row">
 <a disabled>.</a>
 </div>
<div class="row">
  <div class="col-md-4">
   <input type="checkbox" value="1" name="checkbox" autocomplete="off" > 光衰
   </div>
      <div class="col-md-4">
   <input type="checkbox" value="4" name="checkbox" autocomplete="off" > 光模块数量
  
   </div>  <div class="col-md-4">
   <input type="checkbox" value="7" name="checkbox" autocomplete="off" > 聚合组
   </div>
</div>
<div class="row">
     <div class="col-md-4">
   <input type="checkbox" value="5" name="checkbox" autocomplete="off" disabled=""> sn号统计
   </div>  
   <div class="col-md-4">
   <input type="checkbox" value="3" name="checkbox"  autocomplete="off" > cpu.内存负载
   </div>
     <div class="col-md-4">
   <input type="checkbox" value="2" name="checkbox"  autocomplete="off" > 接口错误包
   </div>

</div>
<div class="row">
 <div class="col-md-4">
   <input type="checkbox" value="6" name="checkbox" autocomplete="off" disabled=""> 告警信息(Alarms)
   </div>  
</div>

  </div>

     <div class="row">
 <a disabled>.</a>

 </div>
        <div class="form-group">
        <input type="text" name="username" id="one_name" class="form-control" placeholder="请输入交换机用户名" autocomplete="off">
    
        </div>
        <div class="form-group">
        <input type="password" class="form-control "name="password" id="one_pwd"placeholder="请输入交换机密码" autocomplete="off">
        </div>
        <div class="form-group">
        <input type="text" class="form-control "name="snmpkey" id="one_snmp"placeholder="请输入SNMP-KEY" autocomplete="off">
        </div>


   
        <div class="form-group">
        <textarea class="form-control" rows="10" name="ips" id="one_ip_pool"autocomplete="off" placeholder="格式：每行输入一个ip" autocomp
lete="off"></textarea>
        </div>

      </div>
  <div class="modal-footer">
        <button type="submit" class="btn btn-primary pull-right">提交</button>
  </div>
</form>
  </div>
    </div>
  </div>















</div>
</body>
</html>

