<!DOCTYPE>
<html>
<head>
    <meta charset="UTF-8">
    <title>this is a test</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery-2.1.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/excellentexport.js"></script>
</script>
<script>
function guangshuai_check()
{
    var nameValue=document.getElementById("guangshuai_uname").value;
    var pwdValue=document.getElementById("guangshuai_pwd").value;
    var ipValue=document.getElementById("guangshuai_ip_pool").value;
    if (!nameValue || !pwdValue || !ipValue)
    {
        alert("别闹！请输入必要的信息！！！")
        return false;
    }
    return true;
}


function module_number_check()
{
    var nameValue=document.getElementById("module_number_uname").value;
    var pwdValue=document.getElementById("module_number_pwd").value;
    var ipValue=document.getElementById("module_number_ip_pool").value;
    if (!nameValue || !pwdValue || !ipValue)
    {
        alert("别闹！请输入必要的信息！！！")
        return false;
     }
	return true;
}

</script>
</head>
<body>	

	<div class="container-fluid">
		<div class="container-fluid">
		<div class="page-header">
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      			<div class="container-fluid">
        		<div class="navbar-header">
       				 <a class="navbar-brand" href="#">数据中心工具包</a>
    		   	 </div>   
     			 </div>
    		</nav>
		</div>
		</div>
		
		
		<div class="container-fluid">	
		<div class="col-lg-2">
			<div class="list-group">
  <a href="#" class="list-group-item active">
    交付chenk工具</a>
  <a href="#" class="list-group-item">初始化脚本批量部署</a>
  <a href="#" class="list-group-item">Morbi leo risus</a>
  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
  <a href="#" class="list-group-item">Vestibulum at eros</a>
</div>
	                      <div class="list-group">
  <a href="#" class="list-group-item">noting to do now</a>
  <a href="#" class="list-group-item">nothing to do now</a>
  <a href="#" class="list-group-item">Morbi leo risus</a>
  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
  <a href="#" class="list-group-item">Vestibulum at eros</a>
</div>
		</div>

		<div class="col-lg-10">
		<div class="row">
		</div>
		<div class="row">
			<div class="btn-group btn-group-justified">
			<!---------------------------------------------------------------->
  			  	<!-- Large modal -->
			<div class="btn-group">
				<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  测试接口光衰
</button>
</div>
			<!---------------------------------------------------------------->
			  <div class="btn-group">
		    		<button  class="btn btn-success btn-lg" data-toggle="modal" data-target="#moduleNumber">
统计光模块数量
</button>
</div>
			  <div class="btn-group">
			    <button class="btn btn-warning btn-lg" data-toggle="tooltip">测试聚合组</button>
			  </div>
			  <div class="btn-group">
			    <button  class="btn btn-info btn-lg" data-toggle="tooltip">统计交换机群信息</button>
			  </div>
			  <div class="btn-group">
			    <button  class="btn btn-danger btn-lg" data-toggle="tooltip" >批量添加帐号</button>
			  </div>
			</div>
		</div>
		<div class="row">
		<div class="btn-group btn-group-justified">
			  <div class="btn-group">
		    		<button  class="btn btn-lg">测试聚合组</button>
			  </div>
			  <div class="btn-group">
		    		<button  class="btn btn-lg">测试聚合组</button>
			  </div>
			  <div class="btn-group">
		    		<button  class="btn btn-lg">测试聚合组</button>
			  </div>
			  <div class="btn-group">
		    		<button  class="btn btn-lg">测试聚合组</button>
			  </div>
			  <div class="btn-group">
		    		<button  class="btn btn-lg">测试聚合组</button>
			  </div>
		
		</div>
		</div>
		<div class="row">
			<div class="page-header">
			</div>
		</div>
		
		<div class="row">
			{% block page-container %}
			<table class="table table-bordered">
			{% endblock %}
			</table>
		</div>
		</div>
</div>



<!-- Modal guangshuai -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</s
pan></button>
		<h4 class="modal-title" id="myModalLabel"> 请输入信息</h4>
	      </div>
      <div class="modal-body">
        <form action="/guangshuai_result/" method="post" role="form"  onsubmit="return guangshuai_check()">
        <div class="form-group">
        <input type="text" name="username" id="guangshuai_uname" class="form-control" placeholder="请输入交换机用户名" autocomplete="off">
        </div>
        <div class="form-group">
        <input type="password" class="form-control "name="password" id="guangshuai_pwd"placeholder="请输入交换机密码" autocomplete="off">
        </div>

        <div class="form-group">
        <textarea class="form-control" rows="12" name="ips" id="guangshuai_ip_pool"autocomplete="off" placeholder="格式：每行输入一个ip" autocomplete="off"></textarea>
        </div>

      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">提交</button>
      </div>
</form>
  </div>
    </div>
  </div>		


<div class="modal fade" id="moduleNumber" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</s
pan></button>
                <h4 class="modal-title" id="myModalLabel"> 请输入信息</h4>
              </div>
      <div class="modal-body">
        <form action="/module_number/" method="post" role="form" onsubmit="return module_number_check()">
        <div class="form-group">
        <input type="text" name="username" id="module_number_uname" class="form-control" placeholder="请输入交换机用户名aaa" autocomplete="off">
        </div>
        <div class="form-group">
        <input type="password" class="form-control "name="password" id="module_number_pwd"placeholder="请输入交换机密码bbb" autocomplete="off">
        </div>
        <div class="form-group">
        <textarea class="form-control" rows="12" name="ips" id="module_number_ip_pool"autocomplete="off" placeholder="格式：每行输入一个ip" autocomp
lete="off"></textarea>
        </div>

      </div>
	<div class="modal-footer">
        <button type="submit" class="btn btn-primary pull-right">提交</button>
	</div>
</form>
  </div>
    </div>
  </div>










</div>
</body>
</html>

