
<!DOCTYPE>
<html>
<head>
    <meta charset="UTF-8">
    <title>this is a test</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery-2.1.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/excellentexport.js"></script>
<script>
</script>
</head>
<body>
<div class="panel panel-danger">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"  ia-expanded="false" aria-controls="collapseTwo">
          Collapsible Group Item #2
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
<table class="table table-bordered">
<tr><td>1.1.1.4</td><td>timeout</td></tr><tr><td>1.1.1.2</td><td>wrong password</td></tr><tr><td>1.1.1.3</td><td>wrong password</td></
tr>

</table>
      </div>
    </div>
  </div>

<a  class="bg-primary btn pull-right"  download="somedata.xls" href="#" onclick="return ExcellentExport.excel(this, 'testtable', 'Sheet Name Here');">Export to Excel</a>
<button type="submit" class="btn btn-primary btn-lg" onsubmit="return ExcellentExport.excel(this, 'testtable', 'Sheet Name Here');">export</button>

<table class="table table-bordered" id="testtable">
<tr class=danger><td rowspan="3">1.1.1.1</td><td rowspan="3">Core-N-10.182.0.1-h01</td><td rowspan="1">BA2</td><td rowspan="1">up</td><td rowspan="1">10gbps</td><td>ge-0/0/2</td><td>S</td></tr><tr class=danger><td rowspan="2">eth1</td><td rowspan="2">up</td><td rowspan="2">20gbps</td><td>ge-0/0/2</td><td>S</td></tr><tr class=danger><td>ge-0/0/1</td><td>S</td></tr><tr class=info><td rowspan="3">2.2.2.2</td><td rowspan="3">Core-W-10.182.1.1-h3</td><td rowspan="3">BA1</td><td rowspan="3">up</td><td rowspan="3">20gbps</td><td>ge0/0/45</td><td>U</td></tr><tr class=info><td>ge-0/0/46</td><td>S</td></tr><tr class=info><td>ge-0/0/47</td><td>S</td></tr>
</table>

<h1>h1. Bootstrap heading</h1>







	
</body>
</html>
