<script>
        // init bootpag
        $('#page-selection').bootpag({
            total: 10
        }).on("page", function(event, /* page number here */ num){
             $("#content").html("Insert content"); // some ajax content loading...
        });
    </script>

<div id="content">Dynamic Content goes here</div>






<table class="table table-bordered" id="ping_table">
                        <thead>
                                <th>交换机地址</th>
                                <th>ping返回结果</th>
      </thead>
      <tbody>
                <tr><td class="col-sm-2">aa</td><td >bb</td></tr>
      </tbody>
                        </table>




			  <div class="btn-group">
		    		<button class="btn  btn-lg"  style="background:#8CEA00" data-toggle="modal" data-target="#ping_tool">PING工具</button>
			  </div>
        <nav>
    <ul class="pagination">
        <li>
        <a href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
       </a>
     </li>
     {% if 1 %}
        <li><a href="#">光衰结果</a></li>
        {% endif %}
         <li><a href="#">cpu内存信息</a></li>
        
        <li><a href="#">接口错误包</a></li>
       <li><a href="#">模块数量</a></li>
   
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

<div class="modal fade" id="ping_tool" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</s
pan></button>
                <h4 class="modal-title" id="myModalLabel"> 请输入信息</h4>
              </div>
      <div class="modal-body">

        <form class="form-horizontal" action="/test2/" method="post" role="form" onsubmit="return ">

        <div class="form-group">
        <div class="col-sm-6">
        <input type="text" name="packet_size" id="ping_packet_size" class="form-control" placeholder="请输入每个包的大小：如1500" autocomplete="off">
       
         </div>
        
          <div class="col-sm-6">
         <input type="text" class="form-control " name="packet_number" id="ping_packet_number" placeholder="请输入对每个IP各ping多少包" autocomplete="off">
       
        </div>
 	<input type="checkbox" value="1" name="check_box" autocomplete="off" > 光衰
  <input type="checkbox" value="2" name="check_box" autocomplete="off" > 光衰2
  <input type="checkbox" value="3" name="check_box" autocomplete="off" > 光衰3
  <input type="checkbox" value="4" name="check_box" autocomplete="off" > 光衰4
 	</div>
        <div class="form-group">
         <div class="col-sm-12">
        <textarea class="form-control" rows="10" name="ips" id="ping_ip_pool" autocomplete="off" placeholder="格式：每行输入一个ip" autocomp
lete="off"></textarea>
</div>
        </div>

      </div>
  <div class="modal-footer">
        <button type="submit" class="btn btn-primary pull-right">提交</button>
  </div>
</form>
  </div>
    </div>
  </div>

