
<!DOCTYPE>
<html>
<head>
    <meta charset="UTF-8">
    <title>this is a test</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery-2.1.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/excellentexport.js"></script>
<script>
</script>
</head>
<body>
<div class="panel panel-danger">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"  ia-expanded="false" aria-controls="collapseTwo">
          Collapsible Group Item #2
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
<table class="table table-bordered">
<tr><td>1.1.1.4</td><td>timeout</td></tr><tr><td>1.1.1.2</td><td>wrong password</td></tr><tr><td>1.1.1.3</td><td>wrong password</td></
tr>

</table>
      </div>
    </div>
  </div>

<a  class="bg-primary btn pull-right"  download="somedata.xls" href="#" onclick="return ExcellentExport.excel(this, 'testtable', 'Sheet Name Here');">Export to Excel</a>
<button type="submit" class="btn btn-primary btn-lg" onsubmit="return ExcellentExport.excel(this, 'testtable', 'Sheet Name Here');">export</button>

<table class="table table-bordered" id="testtable">
 <tr class=control><td rowspan="3">1.1.1.2</td><td rowspan="3">W-core-1.1.1.2-h01</td><td rowspan="1">Bridge-Aggregation1</td><td rowspan="1">DOWN</td><td rowspan="1">Unknown-speed</td><td>XGE1/0/52</td><td>U</td></tr><tr class=danger><td>Bridge-Aggregation3</td><td>DOWN</td><td>Unknown-speed</td><td >NO chengyuanduankou</td><td>aa</td></tr><tr class=danger><td rowspan="2">Bridge-Aggregation2</td><td rowspan="2">DOWN</td><td rowspan="2">Unknown-speed</td><td>GE1/0/50</td><td>U</td></tr><tr class=danger><td>GE1/0/49</td><td>U</td></tr>

</table>

<h1>h1. Bootstrap heading</h1>







	
</body>
</html>
